* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 800px) {
  .grid_3col_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .column :last-child {
    align-self: end;
    margin-top: auto;
  }
}
