/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
